@use "/src/assets/scss/screen-sizes";
@use "/src/assets/scss/colors";

.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: colors.$blue-1;

	&__side {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
		width: 240px;
		transition: 0.5s;
		padding: 8px;
	}

	& a:hover, & label:hover {
		color: #f1f1f1;
	}

	& a {
		display: flex;
		align-items: center;
		padding: 8px 0;
		gap: 8px;
		margin-left: 16px;
		font-size: 25px;
		text-decoration: none;
		color: #C0BFBD;
	}

	&__pages {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 80px;
	}

	&__button {

		&--close {
			position: absolute;
			top: 50px;
			right: -16px;
			width: 20px;
			height: 20px;
			background-color: colors.$blue-2;
			border-radius: 100%;
			padding: 8px;
			display: flex;

			img {
				margin: auto;
			}
		}

		&--logout {
			margin-bottom: 80px;
		}
	}
	input[id='nav__button--close']:checked ~ {
		.nav {
			&__side {
				width: 60px;

				span {
					display: none;
					transition: display 0.3s;
				}

				.nav__button--close {
					transform: rotate(180deg);
					transition: transform 0.3s;
				}

				& a {
					justify-content: center;
					display: flex;
					margin-left: unset;
				}
			}
		}

		.main {
			margin-left: 250px;
		}
	}

	input[type=checkbox] {
		opacity: 0;
		height: 0;
		position: absolute;
	}
}


.svg {
	width: 24px;
	height: 24px;
}

@media #{screen-sizes.$small-only} {
	.nav {
		&__side {
			padding-top: 15px;
		}

		&__side a {
			font-size: 18px;
		}
	}

	input[id='nav__button--close']:checked ~ {
		.nav {
			&__side {
				width: 40px !important;
			}
		}
	}
}
