<div class="nav">
	<input type="checkbox" id="nav__button--close" class="menu__button">
	<div class="nav__side">
		<label for="nav__button--close" class="nav__button--close">
			<img src="assets/images/svg/chevron-left.svg" alt="">
		</label>

		<div class="nav__pages">
			<a href="#">
				<img class="svg" src="assets/images/svg/dashboard.svg" alt="">
				<span>Dasboard</span>
			</a>

			<a href="#">
				<img class="svg" src="assets/images/svg/post.svg" alt="">
				<span>Posts</span>
			</a>

			<a href="#">
				<img class="svg" src="assets/images/svg/podcast.svg" alt="">
				<span>
				Podcast
			</span>
			</a>

			<a href="#">
				<img class="svg" src="assets/images/svg/media.svg" alt="">
				<span>Media</span>
			</a>
		</div>

		<a href="#" class="nav__button--logout">
			<img class="svg" src="assets/images/svg/logout-svgrepo-com.svg" alt="">
			<span>Log Out</span>
		</a>
	</div>
</div>
